{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "chrome": "49"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "createElement"
    }]
  ]
}